#newScrollerContainer {
  flex: 1;
  overflow:hidden;
  display: flex;
}

#newsScrollerInner {
  overflow: hidden;
  height: 50px;
}

#newsUl {
  transition: margin-top 1s;
}

.newsLi {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.newsLi a:before {
  content: " • ";
  color: #F0B270;
}

.newsLi button{
  color: #F0E9DC;
  text-decoration: none;
  font-size: 16px;
  opacity: 1;
  display: block;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 50px;
}

#newsControlsContainer {
  padding: 0 10px;
}

#newsControlsContainer button{
  padding: 5px 0 0 0;
  color: #F0E9DC;
  display: block;
  opacity: 0.8;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#newsControlsContainer button:hover{
  opacity: 1;
}

#newsControlsContainer button:focus, .newsLi button:focus {
  outline: none;
}