#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#inner {
  /* display: flex;
  flex-direction: row; */

  margin-top: 50px;
}

#weatherBlockWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weatherBlock {
  display: flex;
  color: #F0E9DC;
  opacity: 0.4;
  padding-right: 70px;
  transition: opacity 1s;
  cursor: default;
}

.weatherBlock:hover {
  opacity: 1;
}

.weatherBlock:last-child {
  padding-right: 0;
}

.left {
  padding-right: 10px;
}

.left i{
  font-size: 36px;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.day {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 8px;
  transition: opacity 1s;
}

.weatherBlock:hover .day {
  opacity: 0;
}

.tempContainer {
  opacity: 0;
  transition: opacity 1s;
}

.weatherBlock:hover .tempContainer {
  opacity: 1;
}

.maxTemp {

}

.minTemp {

}

#cityContainer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

#cityContainer a{
  text-decoration: none;
  color: #F0E9DC;
  opacity: 0.3;
  transition: opacity 1s;
  font-family: "NotoSansMalayalam";
}

#cityContainer a:hover {
  opacity: 1;
}

#cityContainer #cityName {
  display: none;
}

#cityContainer:hover #cityName {
  display: inline;
}

#cityEditContainer {
  text-align: center;
  padding-top: 20px;
}

#cityEditContainer input{
  background: #F0E9DC;
  color: #6D6D76;
}

#cityEditContainer select{
  border: 1px solid #F0E9DC;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #F0E9DC;
  padding: 10px;
  margin-right: 10px;
}

#cityEditContainer select:active, #cityEditContainer select:focus {
  border: 1px solid #F0E9DC;
  outline: none;
}

#cityEditContainer select option {
  background: #444;
}

#loading {
  text-align: center;
  color: #F0E9DC;
}