header {
  color: #F0E9DC;
  padding: 10px;
}

#appBtn {
  position: relative;
  float: right;
}

.dropdownContainer {
  border: none;
  background: none;
  color: #f1e9da;
  font-size: 1.0em;
}

.dropdownContainer:focus {
  outline: none;
  border: none;
}

.dropdown {
  display: none;
  position: relative;
  margin-top: 5px;
}

.dropdownContainer:hover .dropdown {
  display: block;
}