

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', Arial, sans-serif !important;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "NotoSansMalayalam";
	src: url("../fonts/NotoSansMalayalam-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "NotoSansMalayalamUI";
	src: url("../fonts/NotoSansMalayalamUI-Regular.ttf") format("ttf");
}

* {
	box-sizing: border-box;
}

body {
	background: #6d6d77;
}

a {
	cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	height: 30px;
	width: 100%;
}

footer {
	height: 50px;
	width: 100%;
	background: #E38F71;
}

#day-page-container, #month-page-container{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

