footer {
  position: relative;
}

#newsContainer {
  display: flex;
}

#newsLeft {
  height: 50px;
  box-sizing: border-box;
  padding: 14px;
  font-size: 20px;
  color: #6F5F5C;
  background: #F0E9DC;
  font-weight: 700;
}

#newsDescription{
  position: absolute;
  bottom: 50px;
  padding: 10px;
  background: #825D5B;
  color: #F0E9DC;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}